$form-element-height:   32px;

@mixin input-text {
  height: 32px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
}

@mixin btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  height: $form-element-height;
  padding: 0 15px;
  border-radius: 3px;
  color: #fff;
  background-color: $fl_black;
}

@mixin btn-primary {
  background: $fl_blue;
}

@mixin btn-success {
  background: $fl_green;
}
