#toolbar {
  margin-bottom: 20px;

  > input {
    @include input-text;
  }

  > button {
    @include btn;

    &:first-child {
      background: $fl_blue;
    }
  }
}

#tablecontent {
  > table {
    > thead {
      @extend .thead;
    }

    > tbody {
      @extend .tbody;
    }

    .fa {
      background: #34495e;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      color: #fff;
      font-size: .8em;

      &:before {
        display: block;
        margin: 0 auto;
        text-align: center;
        line-height: 24px;
      }
    }

    .fa-edit, .fa-copy {
      background: $fl_blue;
    }

    .fa-remove {
      background: $fl_red;
    }


  }
}

.table-bordered {
  tr {
    background: red;
  }
}
